<div class="footer">
    <div class="d-flex justify-content-evenly bg-color py-5">
      <div class="col-4 p-3">
          <div class="inner p-3 d-flex justify-content-center flex-column align-items-center">
            <h3 class="text-light">LOCATION</h3>
            <p class="text-light m-0">2215 John Daniel Drive</p>
            <p class="text-light m-0">Clark, MO 65243</p>
          </div>
      </div>
      <div class="col-4 p-3">
          <div class="inner p-3 d-flex justify-content-center flex-column align-items-center">
            <h3 class="text-light">AROUND THE WEB</h3>
            <div class="">
              <i class="fa-brands text-center rounded-circle text-light pt-1 fa-facebook"></i>
              <i class="fa-brands text-center rounded-circle text-light pt-1 fa-twitter"></i>
              <i class="fa-brands text-center rounded-circle text-light pt-1 fa-linkedin-in"></i>
              <i class="fa-solid text-center rounded-circle text-light pt-1 fa-globe"></i>
            </div>
          </div>
      </div>
      <div class="col-4 p-3">
          <div class="inner p-3 d-flex justify-content-center flex-column align-items-center">
            <h3 class="text-light">ABOUT FREELANCER</h3>
            <p class="text-light m-0">Freelance is a free to use, licensed Bootstrap theme created by Route</p>
          </div>
      </div>
      
    </div>
    <div class="d-flex justify-content-center align-items-center copy-write"><p class="text-light">Copyright © Your Website 2021</p></div>
</div>